# Pulling Tables from Wikipedia

# One Table


import pandas as pd
import numpy as np

link = "https://en.wikipedia.org/wiki/List_of_pirates"
tables = pd.read_html(link)
TOI = tables[2].iloc[1:]
TOI.columns = ['Name', 'Life', 'Years Active', 'Country of Origin', 'Comments']
TOI

# Multiple Tables

In [117]:
#Merge multiple tables
import pandas as pd
import numpy as np

link = "C://Users//fcmun//Documents//HTML_Test.html"
tables = pd.read_html(link)
TOIs = pd.concat(tables[2:11])
TOIs.columns = ['Country', 'Location','Coordinates','Operational date', 'Number of Rockets launches','Heaviest Rocket Launched','Highest achieved altitude', 'Notes']
TOIs = TOIs[TOIs.Country != 'Country']
TOIs
##len(tables)
##https://en.wikipedia.org/wiki/List_of_rocket_launch_sites
##https://en.wikipedia.org/wiki/List_of_pirates

,Country,Location,Coordinates,Operational date,Number of Rockets launches,Heaviest Rocket Launched,Highest achieved altitude,Notes
1,Algeria,Centre interarmées d'essais d'engins spéciaux ...,31°05′58″N 2°50′09″W﻿ / ﻿31.09951°N 2.83581°W,1947–1967,230,18 000 kg,Orbital,Operated by France.[1]
2,Algeria,Reggane,26°43′08″N 0°16′37″E﻿ / ﻿26.71895°N 0.27691°E,1961–1965,10,NaN,NaN,NaN
3,Congo (Zaire),"Shaba North, Kapani Tonneo OTRAG Launch Center",7°55′33″S 28°31′40″E﻿ / ﻿7.92587°S 28.52766°E,1977–1978,3,NaN,<50 km,German OTRAG rockets.[2]
4,Egypt,Jabal Hamzah ballistic missile test and launch...,30°07′32.7″N 30°36′18.5″E﻿ / ﻿30.125750°N 30.6...,Late 1950s–present,6,NaN,NaN,Al Zafir and Al Kahir SRBMs testing[3][4]
5,Kenya,"Broglio Space Centre (San Marco), Malindi",2°56′27″S 40°12′48″E﻿ / ﻿2.94080°S 40.21340°E,1964–1988,27,20 000 kg,Orbital,"Scout rockets, operated by ASI and Sapienza Un..."
6,Libya,"Sabha, Tawiwa OTRAG Launch Center",26°59′38″N 14°27′51″E﻿ / ﻿26.99392°N 14.46425°E,1981–1982,NaN,NaN,50 km,German OTRAG rockets.[6]
7,Mauritania,Nouadhibou,20°55′43″N 17°01′54″W﻿ / ﻿20.92856°N 17.03153°W,1973–1973,1,NaN,NaN,During a solar eclipse
8,South Africa,Overberg South African Test Centre,34°36′10″S 20°18′09″E﻿ / ﻿34.60265°S 20.30248°E,1989–1990,NaN,NaN,NaN,Launched test mission rockets only.[7]
1,China,"Base 603, Shijiedu, Guangde",30°56′15″N 119°12′21″E﻿ / ﻿30.93743°N 119.20575°E,1960–1966,NaN,1 000 kg,<60 km,NaN
2,China,Jiuquan Satellite Launch Center,41°07′05″N 100°27′48″E﻿ / ﻿41.11803°N 100.46330°E,1970–,NaN,464 000 kg,Orbital,Human spaceflight[8]
3,China,Taiyuan Satellite Launch Center,39°08′36″N 111°58′03″E﻿ / ﻿39.14321°N 111.96741°E,1980–,NaN,NaN,Orbital,Polar satellites[9]
4,China,Xichang Satellite Launch Center,28°14′47″N 102°01′41″E﻿ / ﻿28.24646°N 102.02814°E,1984–,NaN,NaN,Lunar,"Geo-synchronous satellites, lunar probes.[10][11]"
5,China,Wenchang Satellite Launch Center,19°36′52.17″N 110°57′4.08″E﻿ / ﻿19.6144917°N 1...,2016–,NaN,879 000 kg,Orbital,New site on Hainan Island with pads for Long M...
6,China,Jingyu,42°00′N 126°30′E﻿ / ﻿42.0°N 126.5°E,NaN,NaN,NaN,NaN,NaN
7,India,"Vikram Sarabhai Space Centre, Thiruvananthapur...",8°31′53″N 76°52′08″E﻿ / ﻿8.5314°N 76.8690°E,1962–,>2000,NaN,NaN,[12]
8,India,"Satish Dhawan Space Centre (Sriharikota), Andh...",13°44′15″N 80°14′06″E﻿ / ﻿13.73740°N 80.23510°E,1971–,NaN,402 000 kg,Interplanetary,Satellites and lunar probes;[13]
9,India,"Abdul Kalam Island, Balasore, Odisha",20°45′29″N 87°05′08″E﻿ / ﻿20.75804°N 87.085533°E,NaN,NaN,NaN,NaN,NaN
10,Indonesia,"Stasiun Peluncuran Roket, Pameungpeuk, Garut",7°38′48″S 107°41′20″E﻿ / ﻿7.646643°S 107.689018°E,1965–,14+,765 kg,100 km,NaN
11,Iran,Qom Space Center,34°39′00″N 50°54′00″E﻿ / ﻿34.65000°N 50.90000°E,1991,NaN,NaN,NaN,Military testing[14]
12,Iran,Emamshahr Space Center,36°25′12″N 55°01′12″E﻿ / ﻿36.42000°N 55.02000°E,1998,NaN,NaN,NaN,Military testing and sounding rockets for ISA....
13,Iran,Semnan spaceport,35°14′05″N 53°55′15″E﻿ / ﻿35.234631°N 53.920941°E,2009–,2,NaN,Orbital,NaN
14,Iraq,Al-Anbar Test Center,32°46′56″N 44°17′59″E﻿ / ﻿32.78220°N 44.29962°E,1989,NaN,NaN,NaN,Out of function[16]
15,Israel,Palmachim Air Force Base,31°53′05″N 34°40′49″E﻿ / ﻿31.88484°N 34.68020°E,1987–,9,70 000 kg,Orbital,[17]
16,Japan,Akita Rocket Range,39°34′17″N 140°03′28″E﻿ / ﻿39.57148°N 140.05785°E,1956–1990,81,NaN,343 km,NaN
17,Japan,Uchinoura Space Center,31°15′07″N 131°04′45″E﻿ / ﻿31.25186°N 131.07914°E,1962–,NaN,139 000 kg,Interplanetary,[18]
18,Japan,"Tanegashima Space Center, Tanegashima Island",30°23′27″N 130°58′05″E﻿ / ﻿30.39096°N 130.96813°E,1967–,NaN,445 000 kg,Interplanetary,[19]
19,Japan,Ryori[citation needed],39°01′48″N 141°49′48″E﻿ / ﻿39.03000°N 141.83000°E,1970–,NaN,NaN,NaN,NaN
20,Japan,Niijima [ja][citation needed],34°20′16″N 139°15′57″E﻿ / ﻿34.33766°N 139.26575°E,NaN,NaN,NaN,NaN,NaN
21,Japan,Obachi[citation needed],40°42′12″N 141°22′10″E﻿ / ﻿40.70342°N 141.36938°E,NaN,NaN,NaN,NaN,NaN
22,Kazakhstan,"Baikonur Cosmodrome, Tyuratam",45°57′19″N 63°21′01″E﻿ / ﻿45.95515°N 63.35028°E,1957–,>1000,2 400 000 kg,Interplanetary,"First satellite, first human. Operated by Russ..."
...,...,...,...,...,...,...,...,...
15,United States,"Mojave Air and Space Port, California",35°03′33″N 118°08′56″W﻿ / ﻿35.05910°N 118.14880°W,2004–,NaN,NaN,112 km,"Privately funded spacecraft (Xoie, Xombie, Xod..."
16,United States,Spaceport America (formerly Southwest Regional...,32°53′22″N 106°59′58″W﻿ / ﻿32.88943°N 106.99945°W,2006–,8,NaN,NaN,Sub-orbital commercial and planned space touri...
17,United States,"Mid-Atlantic Regional Spaceport (MARS), Delmar...",37°50′00″N 75°29′00″W﻿ / ﻿37.833378°N 75.483284°W,2006–,6,89 805 kg,Lunar,"Operates in partnership with NASA, adjacent to..."
0,"Barbados, 13°04′37″N 59°28′33″W﻿ / ﻿13.0770°N ...","Fort Wingate (United States, 35°26′55″N 108°35...","Primrose Lake (Canada, 54°45′00″N 110°03′00″W﻿...",NaN,NaN,NaN,NaN,NaN
1,Argentina,Puerto Belgrano,38°57′46″S 61°42′54″W﻿ / ﻿38.9628°S 61.715°W,TBA,NaN,NaN,NaN,Launch pad for Tronador II under construction ...
2,Argentina,Punta Indio,35°31′26″S 57°11′02″W﻿ / ﻿35.523889°S 57.183889°W,2014–,3,7 076 kg [67],2.2 km,Civilian Launch Test Site (CONAE)
3,Argentina,CELPA,30°07′39″S 66°20′27″W﻿ / ﻿30.12737°S 66.34082°W,1962–1974 / 2011–,100 (approximately),933 kg,550 km,Military Launch Test Site (CITIDEF)
4,Argentina,Serrezuela,30°38′00″S 65°23′00″W﻿ / ﻿30.6333°S 65.3833°W,2009,1,500 kg,40 km,Military test (Gradicom I)
5,Argentina,Las Palmas,27°05′43″S 58°45′13″W﻿ / ﻿27.09531°S 58.75352°W,1966–1966,2,3 400 kg,270 km,"During a solar eclipse, with Titus rockets."
6,Argentina,Tartagal,22°45′42″S 63°49′26″W﻿ / ﻿22.76158°S 63.82381°W,1966–1966,NaN,NaN,NaN,During a solar eclipse
7,Argentina,Mar Chiquita,37°43′27″S 57°24′18″W﻿ / ﻿37.72427°S 57.40512°W,1968–1972,11,NaN,NaN,NaN
8,Argentina,Villa Reynolds,33°43′29″S 65°22′38″W﻿ / ﻿33.72460°S 65.37730°W,1973–1973,2,NaN,NaN,NaN
9,Argentina,Pampa de Achala,31°35′00″S 64°50′00″W﻿ / ﻿31.5833°S 64.8333°W,1961–1962,8,28 kg,25 km,First Argentine launch site.
10,Brazil,Natal/Barreira,5°51′58″S 35°22′59″W﻿ / ﻿5.86600°S 35.38300°W,1965–,233,NaN,1100 km,NaN
11,Brazil,Praia do Cassino,32°05′00″S 52°10′02″W﻿ / ﻿32.08338°S 52.16725°W,1966–1966,27,NaN,NaN,NaN
12,Brazil,"Alcântara Launch Center, Maranhão",2°18′58″S 44°22′03″W﻿ / ﻿2.3160°S 44.3676°W,1990–,35,6 737 kg,956 km,"Brazilian Air Force, Brazilian Space Agency. P..."
13,France,"Guiana Space Centre, Kourou",5°14′15″N 52°46′10″W﻿ / ﻿5.23739°N 52.76950°W,1968–,<200,777 000 kg,Interplanetary,Operated by CNES for ESA; launch base for Aria...
14,Peru,Chilca Launch Range,12°30′17″S 76°47′55″W﻿ / ﻿12.50477°S 76.79849°W,1974-1983,<65,NaN,590 km,Sounding rocket launch location.[68]
15,Peru,"Chilca PLOB, Punta Lobos Range",12°30′00″S 76°48′00″W﻿ / ﻿12.50000°S 76.8000°W,1983,32,2 000 kg,590 km,Sounding rocket launch location. Possibly part...
16,Suriname,Coronie,5°52′21″N 56°17′21″W﻿ / ﻿5.87241°N 56.28908°W,1965–1965,4,NaN,205 km,NaN
1,Australia,Woomera Test Range,30°57′31″S 136°30′13″E﻿ / ﻿30.95875°S 136.50366°E,1950s–,NaN,28 000 kg,Orbital,British/Australian government research facilit...
2,Australia,Carnarvon,24°29′08″S 113°24′31″E﻿ / ﻿24.48564°S 113.40866°E,1964–1965,12,NaN,120 km,NaN
3,Australia,Lancelin,30°58′59″S 115°19′04″E﻿ / ﻿30.98309°S 115.31774°E,1974–1974,2,NaN,NaN,During a total solar eclipse
4,Marshall Islands,"Reagan Test Site, Omelek Island, Kwajalein Atoll",9°02′53″N 167°44′35″E﻿ / ﻿9.048167°N 167.743083°E,1950s-,NaN,39 000 kg,Orbital,US-controlled ICBM base converted for satellit...
5,New Zealand,Birdling's Flat,43°49′01″S 172°40′59″E﻿ / ﻿43.81700°S 172.68300°E,NaN,NaN,NaN,NaN,"Formerly proposed launch site for Rocket Lab, ..."
6,New Zealand,Mahia,39°15′38″S 177°51′52″E﻿ / ﻿39.26044°S 177.86431°E,2017–,2,10 500 kg,Orbital,First commercial spaceport in the southern hem...
1,NaN,Ocean Odyssey complex,Mobile,1999–,30,462 000 kg,Orbital,Mobile satellite launch platform operated by S...
2,NaN,Russian Delta class submarines,Mobile,1998–,2,30 000 kg,Orbital,Launch of unmanned satellites into Earth orbit...
3,Denmark,MLP Sputnik,55°02′57″N 15°36′11″E﻿ / ﻿55.04917°N 15.60306°E,2010–,4,1 630 kg,8.2 km,Mobile satellite launch platform operated by C...
0,"Ascension Island (Atlantic island, 7°58′29″S 1...","Eniwetok (Atoll in the Pacific, launches in co...","Molodyozhnaya (Antarctica), 67°39′36″S 45°51′0...",NaN,NaN,NaN,NaN,NaN

# Extra

In [36]:
Tabs = [3,4]
for x in Tabs:
    link = "https://en.wikipedia.org/wiki/List_of_pirates"
    tables = pd.read_html(link)
    TOI = tables[x].iloc[1:]
    TOI.columns = ['Name', 'Life', 'Years Active', 'Country of Origin', 'Comments']
TOI

,Name,Life,Years Active,Country of Origin,Comments
1,Vincenzo Alessandri,d. 1657,NaN,Italy,"Originally a Knight of Malta, Alessandri was c..."
2,Cornelius Andreson,NaN,1674–1675,Netherlands,He is best known for attacking English traders...
3,Michiel Andrieszoon,17th century,1680s,Netherlands,Dutch merchant-pirate. Associated with Thomas ...
4,John Ansell,d. 1689,NaN,England,Sailed with Henry Morgan and participated in h...
5,Jean Bart,1651–1702,1672–1697,France,"Born the son of a fisherman, Bart retired an a..."
6,Michel le Basque,17th century,1666–1668,France,Pirate and flibustier (French buccaneer) from ...
7,John Bear,NaN,1684–1689,England,English pirate active in the Caribbean who als...
8,Philippe Bequel,17th century,1650–1669,France,Was one of the first foreign privateers awarde...
9,Jacob Janssen van den Bergh,fl. 1660,1650s–1660s,Netherlands,Dutch corsair and slave trader for the Dutch W...
10,Charlotte de Berry,17th century,1660s,England,"A female pirate, she later commanded her own s..."
11,Lancelot Blackburne,1653–1743,1680–1684,England,"Blackburne was an English clergyman, who becam..."
12,Eduardo Blomar,d. 1679,1670s,Spain,Spanish renegade active in the Spanish Main du...
13,Pierre Bot,17th century,1680s,France,French buccaneer active in the Caribbean.[cita...
14,Alexandre Bras-de-Fer,17th Century,mid-17th Century,France,A flibustier (French buccaneer) in the latter ...
15,Roche Braziliano,17th century,1654–1671,Netherlands,Roasted two Spanish farmers alive when they re...
16,Nicolas Brigaut,1653–1686,1679–1686,France,French pirate and buccaneer active in the Cari...
17,James Browne,17th Century,1676–1677,Scotland,Scottish pirate and privateer active in the Ca...
18,Manuel Butiens,fl. 1645,1640s,Netherlands,Dutch renegade and Dunkirker in the service of...
19,Jean du Casse,1646–1715,168?–1697,France,"Born to Huguenot parents, du Casse was allowed..."
20,Bartolomé Charpes,d. 1679,1680s,Spain,Spanish renegade who was tried in absentia and...
21,Jean Charpin,NaN,1688–1689,France,French pirate and buccaneer active in the Cari...
22,Nicholas Clough,NaN,1682–1683,England,Active in the Caribbean and off the coast of A...
23,Edward Collier,17th century,1668–1671,England,Served as Sir Henry Morgan's second-in-command...
24,Edmund Cooke,17th Century,1673–1683,England,"Merchant captain, buccaneer, and pirate. He is..."
25,John Cooke,d. 1683,1680s,England,English buccaneer who led an expedition agains...
26,John Cornelius,NaN,1687–?,Ireland,Irish pirate supposedly active in the Red Sea ...
27,John Coxon,d. 1689,1677–1682,England,One of the most famous of the Brethren of the ...
28,George Cusack,d. 1675,1668-1675,Ireland,Cruised both northern Europe and the West Indi...
29,William Dampier,1651–1715,1670–1688,England,Was the first person to circumnavigate the wor...
30,Edward Davis,17th century,1680–1688,England,Led the last major buccaneer raid against Panama.
...,...,...,...,...,...
74,John Morris,17th century,1663–1672,England,"A skilled pilot, he served with both Christoph..."
75,Sir Christopher Myngs,1625–1666,1650s–1660s,England,"Described as ""unhinged and out of tune"" by the..."
76,Thomas Paine,17th century,1680s,England,A colonial American privateer who raided sever...
77,Manuel Ribeiro Pardal,d. 1671,1668–1671,Portugal,Portuguese privateer in the service of Spain. ...
78,George Peterson,17th Century,1686–1688,England,Part of his crew consisted of the remnants of ...
79,Pierre Le Picard,fl. 1666–1690,1660s–1690s,France,"An officer under l'Ollonais and Henry Morgan, ..."
80,Chevalier du Plessis,d. 1668,1660s,France,French privateer active in the West Indies. He...
81,Baron Jean de Pointis,1635–1707,1690s,France,His greatest venture was the 1697 Raid of Cart...
82,Bartolomeu Português,b. 1630,1666–1669,Portugal,One of the earliest pirates to use a pirate code.
83,Thomas Pound,d. 1703,1689,England,Briefly commanded a small ship near Massachuse...
84,Lawrence Prince,fl. 1659–1672,1650s–1670s,Netherlands,Dutch buccaneer in English service. An officer...
85,Philip Ras,fl. 1652–1655,1650s,Netherlands,Captured several English ships as both a corsa...
86,Stenka Razin,1630–1671,NaN,Russia,A Cossack pirate who operated on the Volga and...
87,Peter Roderigo,NaN,1674–1675,Netherlands,He is best known for attacking English traders...
88,Richard Sawkins,d. 1680,1679–1680,England,"Participated, along with John Coxon and Bartho..."
89,Lewis Scot,fl. 1663,1660s,England,"Known for his attack on the city of Campeche, ..."
90,Bartholomew Sharp,1650–1690,1679–1682,England,Plundered 25 Spanish ships and numerous small ...
91,Gustav Skytte,1637–1663,1657–1663,Sweden,"Attacked ships in the Baltic Sea, along with o..."
92,Bernard Claesen Speirdyke,fl. 1663–1670,1660s–1670s,Netherlands,"Dutch buccaneer active in the Caribbean, he wa..."
93,Charles Swan,17th century,NaN,England,"A reluctant pirate, he begged for a pirate eve..."
94,Jacques Tavernier / Le Lyonnais,1625–1673,1664–1673,France,French buccaneer who took part in expeditions ...
95,Moïse Vauquelin / Moses Vanclein,fl. 1650–1672,1650s–1670s,France,"An officer under l'Ollonais, he also had a par..."
96,Captain Veale,17th Century,1685,England,Attacked ships along New England from Virginia...
97,Thomas Veale,17th Century,mid-1600s,England,Known for legends of his buried treasure.
98,Cornelis Janszoon van de Velde,fl. 1655,1650s,Netherlands,"Dutch corsair active near the Antillen, he was..."
99,Lionel Wafer,1640–1705,1679–1688,Wales,An explorer whose work helped inspire the Dari...
100,Janke / Yankey Willems,fl. 1681–1687,1680s,Netherlands,Dutch buccaneer active in the Caribbean.
101,Francis Witherborn,17th Century,1670–1672,England,"English buccaneer, privateer, and pirate activ..."
102,Thomas Woolerly,NaN,1683–1687,Colonial America,A pirate and privateer active in the Caribbean...
103,William Wright,17th century,1675–1682,England,"Despite being English, Wright was active as a ..."

In [ ]:
##What dumps of wikipedia are available
import requests
# Library for parsing HTML
from bs4 import BeautifulSoup
base_url = 'https://dumps.wikimedia.org/enwiki/'
index = requests.get(base_url).text
soup_index = BeautifulSoup(index, 'html.parser')
# Find the links on the page
dumps = [a['href'] for a in soup_index.find_all('a') if 
         a.has_attr('href')]
dumps

In [ ]:
dump_url = base_url + '20180901/'
# Retrieve the html
dump_html = requests.get(dump_url).text
# Convert to a soup
soup_dump = BeautifulSoup(dump_html, 'html.parser')
# Find list elements with the class file
soup_dump.find_all('li', {'class': 'file'})[:3]
##Go back to this
##https://towardsdatascience.com/wikipedia-data-science-working-with-the-worlds-largest-encyclopedia-c08efbac5f5c

In [ ]:
##PUlling References for a page
##https://stackoverflow.com/questions/46237235/scraping-urls-from-wikipedia-references-section

## Import required packages ##
from urllib.request import urlopen
from urllib.error import HTTPError
from bs4 import BeautifulSoup
import re

selectWikiPage = input(print("https://en.wikipedia.org/wiki/Quechua_language"))
isWikiFound = re.findall(selectWikiPage, 'wikipedia')
if "wikipedia" in selectWikiPage:
    print("Input accepted")
    html = urlopen(selectWikiPage)
    bsObj = BeautifulSoup(html, "lxml")
    findReferences = bsObj.findAll("#References")
    for wikiReferences in findReferences:
        print(wikiReferences.get_text())

else:
    print("Error: Please enter a valid Wikipedia URL")